.about {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
h4 {
    margin-right: 35px;
    font-style: italic;
    color: #3f3e3e;
}
.description {
    border: 2px solid black;
    padding: 30px 30px 50px;
    border-radius: 15px;
}
.line {
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
    width: 100%;
    height: 1px;
}